@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    height: fit-content;
    background-color: #eee;
}

.middle{
    width: 100%;
    display: flex;
    justify-content: center;
}
.left-links, .right-links{
    display: flex;
}

li{
    margin: 0 10px 0 0;
    list-style: none;   
}

a{
    color: grey;
    text-decoration: none;
}

ul{
    padding-left: 10px;
}